h1 {
    text-align: center;
}

.info {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
}

tr:nth-child(2n-1).active, .active {
    background-color: yellow;
}